<template>
  <section class="content">
    <!-- Default box -->
    <div class="box">
    <div class="box-body">
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
          <div class="form-group">
            <select v-model="formData.period_id" class="form-control input-sm">
              <option v-for="period in periods" v-bind:value="period.id">{{ period.name }}</option>       
            </select>
          </div>
        </div>
      </div>
      <form-wizard
      title="Laporan Penanaman Modal"
      subtitle=""
      color="#3c8dbc"
      @on-complete="submitReport">
        <div v-for="error in errors" class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ error }}
        </div>
        <tab-content title="Perusahaan" :before-change="validateFirstPhase">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label for="company_name">Nama Perusahaan</label>
                <input v-model="formData.company_name" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="notarial_deed">Akta Notaris</label>
                <input v-model="formData.notarial_deed" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="date_of_endorsement">Tanggal Pengesahan</label>
                <datepicker 
                v-model="formData.date_of_endorsement"
                format="yyyy-MM-dd"
                input-class="form-control"></datepicker>
              </div>
              <div class="form-group">
                <label for="npwp">NPWP</label>
                <input v-model="formData.npwp" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="business_field">Bidang Usaha</label>
                <input v-model="formData.business_field" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="project_location_address">Alamat Lokasi Proyek</label>
                <textarea v-model="formData.project_location_address" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="correspondence_address">Alamat Korespondensi</label>
                <textarea v-model="formData.correspondence_address" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </tab-content>
        <tab-content title="Perizinan" :before-change="validateSecondPhase">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label for="capital_investment_license">Izin Prinsip Penanaman Modal</label>
                <input v-model="formData.capital_investment_license" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="production_importer_id">Angka Pengenal Importir Produsen</label>
                <input v-model="formData.production_importer_id" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="customs_facility">Fasilitas Bea Masuk Atas Impor</label>
                <textarea v-model="formData.customs_facility" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="fiscal_facility">Fasilitas Fiskal Lainnya</label>
                <textarea v-model="formData.fiscal_facility" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="human_resources_planning">Rencanaan Penggunaan Tenaga Kerja</label>
                <textarea v-model="formData.human_resources_planning" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="location_license">Izin Lokasi</label>
                <input v-model="formData.location_license" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="land_certificate">SK Hak Atas Tanah/Sertifikat Tanah</label>
                <input v-model="formData.land_certificate" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="building_permit">IMB</label>
                <input v-model="formData.building_permit" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="ho">Izin Gangguan/HO</label>
                <input v-model="formData.ho" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="other_techinical_permit">IMB</label>
                <input v-model="formData.other_techinical_permit" type="text" class="form-control">
              </div>
            </div>
          </div>
        </tab-content>
        <tab-content title="Realisasi Investasi" :before-change="validateThirdPhase">
          <table class="table table-bordered">
            <tbody>
              <tr><th colspan="3"><center>A. Investasi</center></th></tr>
              <tr>
                <td>A.1</td>
                <td colspan="2">Modal Tetap</td>
              </tr>
              <tr>
                <td></td>
                <td>a. Pembelian & Pematangan Tanah</td>
                <td><input v-model="formData.land_purchase" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td></td>
                <td>b. Bangunan & Gedung</td>
                <td><input v-model="formData.building_purchase" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td></td>
                <td>c. Mesin, Peralatan, & Suku Cadang</td>
                <td><input v-model="formData.tools_purchase" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td></td>
                <td>d. Lain-lain</td>
                <td><input v-model="formData.others_purchase" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td>A.2</td>
                <td>Modal Kerja</td>
                <td><input v-model="formData.working_capital" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <th colspan="2" style="text-align: right">Subtotal</th>
                <td>Rp {{ investmentTotal }}</td>
              </tr>

              <tr><th colspan="3"><center>B. Sumber Biaya</center></th></tr>
              <tr>
                <td>B.1</td>
                <td>Modal Sendiri</td>
                <td><input v-model="formData.self_capital" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td>B.2</td>
                <td>Laba Ditanam Kembali</td>
                <td><input v-model="formData.replanted_profit" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td>B.3</td>
                <td>Modal Pinjaman</td>
                <td><input v-model="formData.loan_capital" type="text" class="form-control input-sm"></td>
              </tr>
              <tr>
                <th colspan="2" style="text-align: right">Subtotal</th>
                <td>Rp {{ sourceOfFundsTotal }}</td>
              </tr>
            </tbody>
          </table>
        </tab-content>
        <tab-content title="Tenaga Kerja & Permasalahan" :before-change="validateFourthPhase">
          <table class="table table-borderedr">
            <tbody>
              <tr><th colspan="2"><center>Indonesia</center></th></tr>
              <tr>
                <td>Laki-laki</td>
                <td><input v-model="formData.number_of_men" type="number" class="form-control input-sm"></td>
              </tr>
              <tr>
                <td>Perempuan</td>
                <td><input v-model="formData.number_of_women" type="number" class="form-control input-sm"></td>
              </tr>
              <tr>
                <th>Total</th>
                <td>{{ nationalsTotal }} orang</td>
              </tr>

              <tr><th colspan="2"><center>Asing</center></th></tr>
              <tr>
                <td>Asing</td>
                <td><input v-model="formData.number_of_foreigners" type="number" class="form-control input-sm"></td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <label for="description">Permasalahan</label>
            <textarea v-model="formData.description" class="form-control"></textarea>
          </div>
        </tab-content>
      </form-wizard>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      
    </div>
    <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</template>

<script>
  import { FormWizard, TabContent } from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import axios from 'axios'
  import validate from 'validate.js'
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker'
  import defaultsDeep from 'lodash.defaultsdeep'

  export default {
    components: {
      FormWizard,
      TabContent,
      Datepicker
    },

    props: [
      'id'
    ],

    data() {
        return {
            periods: [],
            errors: [],
            formData: {
              period_id: 1,
              company_name: "",
              notarial_deed: "",
              date_of_endorsement: "",
              npwp: "",
              business_field: "",
              project_location_address: "",
              correspondence_address: "",

              capital_investment_license: "",
              production_importer_id: "",
              customs_facility: "",
              fiscal_facility: "",
              human_resources_planning: "",
              location_license: "",
              land_certificate: "",
              building_permit: "",
              ho: "",
              other_technical_permit: "",

              working_capital: 0,

              land_purchase: 0,
              building_purchase: 0,
              tools_purchase: 0,
              others_purchase: 0,

              self_capital: 0,
              replanted_profit: 0,
              loan_capital: 0,

              number_of_men: 0,
              number_of_women: 0,
              number_of_foreigners: 0,
              description: ""
            }
        }
    },

    computed: {
      investmentTotal() {
        return parseFloat(this.formData.land_purchase) + parseFloat(this.formData.building_purchase) + parseFloat(this.formData.tools_purchase) + parseFloat(this.formData.others_purchase) + parseFloat(this.formData.working_capital)
      },

      sourceOfFundsTotal() {
        return parseFloat(this.formData.self_capital) + parseFloat(this.formData.replanted_profit) + parseFloat(this.formData.loan_capital)
      },
      
      nationalsTotal() {
        return parseInt(this.formData.number_of_men) + parseInt(this.formData.number_of_women)
      }
    },

    beforeMount() {
        validate.extend(validate.validators.datetime, {
          parse: function(value, options) {
            return +moment.utc(value);
          },
          format: function(value, options) {
            var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
            return moment.utc(value).format(format);
          }
        });

        axios.get('/api/period')
            .then((response) => {
                this.periods = response.data
            })
            .catch((error) => {
                console.log(error)
            })

        if (this.id != null) {
          axios.get('/api/report/' + this.id)
            .then((response) => {
              this.formData = response.data
            })
            .catch((error) => {
              console.log(error)
            })
        }
    },

    methods: {
      handleError(errors) {
        this.errors = errors
      },

      clearErrors() {
        this.errors = []
      },

      validateFirstPhase() {
        this.clearErrors()
        let rules = {
          period_id: {
            numericality: true
          },
          company_name: {
            length: {
              minimum: 1,
              message: "^Nama perusahaan tidak boleh kosong"
            }
          },
          notarial_deed: {
            length: {
              minimum: 1,
              message: "^Akta notaris tidak boleh kosong"
            }
          },
          date_of_endorsement: {
            presence: true
          },
          npwp: {
            length: {
              minimum: 20,
              message: "^NPWP harus mengikuti penulisan XX.XXX.XXX.X-XXX.XXX (20 digit)"
            }
          },
          business_field: {
            length: {
              minimum: 1,
              message: "^Bidang usaha tidak boleh kosong"
            }
          },
          project_location_address: {
            length: {
              minimum: 1,
              message: "^Alamat proyek tidak boleh kosong"
            }
          },
          correspondence_address: {
            length: {
              minimum: 1,
              message: "^Alamat korespondensi tidak boleh kosong"
            }
          }
        }

        let data = {
          period_id: this.formData.period_id,
          company_name: this.formData.company_name,
          notarial_deed: this.formData.notarial_deed,
          date_of_endorsement: this.formData.date_of_endorsement,
          npwp: this.formData.npwp,
          business_field: this.formData.business_field,
          project_location_address: this.formData.project_location_address,
          correspondence_address: this.formData.correspondence_address
        }

        let validation = validate(data, rules, { format: "flat" })

        if (typeof validation == 'undefined') {
          return true
        }

        this.handleError(validation)
        return false
      },

      validateSecondPhase() {
        this.clearErrors()
        let rules = {
          capital_investment_license: {
            length: {
              minimum: 1,
              message: "^Izin prinsip penanaman modal tidak boleh kosong"
            }
          }
        }
        
        let data = {
          capital_investment_license: this.formData.capital_investment_license
        }

        let validation = validate(data, rules, { format: "flat" })

        if (typeof validation == 'undefined') {
          return true
        }
        
        this.handleError(validation)
        return false
      },

      validateThirdPhase() {
        this.clearErrors()
        let rules = {
          land_purchase: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal pembelian/pematangan tanah tidak boleh kosong'
            }
          },
          building_purchase: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal bangunan/gedung tidak boleh kosong'
            }
          },
          tools_purchase: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal mesin/peralatan/suku cadang tidak boleh kosong'
            }
          },
          others_purchase: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal pengeluaran/pembelian lain-lain tidak boleh kosong'
            }
          },
          working_capital: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal modal kerja tidak boleh kosong'
            }
          },
          self_capital: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal modal sendiri tidak boleh kosong'
            }
          },
          replanted_profit: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal laba ditanam kembali tidak boleh kosong'
            }
          },
          loan_capital: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: '^Nominal pembelian/pematangan tanah tidak boleh kosong'
            }
          }
        }
        
        let data = {
          land_purchase: this.formData.land_purchase,
          building_purchase: this.formData.building_purchase,
          tools_purchase: this.formData.tools_purchase,
          others_purchase: this.formData.others_purchase,
          working_capital: this.formData.working_capital,
          self_capital: this.formData.self_capital,
          replanted_profit: this.formData.replanted_profit,
          loan_capital: this.formData.loan_capital
        }

        let validation = validate(data, rules, { format: "flat" })

        if (typeof validation == 'undefined') {
          return true
        }
        
        this.handleError(validation)
        return false
      },

      validateFourthPhase() {
        this.clearErrors()
        let rules = {
          number_of_men: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: "^Jumlah pekerja pria tidak boleh kosong"
            }
          },
          number_of_women: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: "^Jumlah pekerja wanita tidak boleh kosong"
            }
          },
          number_of_foreigners: {
            presence: true,
            numericality: {
              greaterThan: 0,
              notGreaterThan: "^Jumlah pekerja asing tidak boleh kosong"
            }
          },
          description: {
            length: {
              minimum: 1,
              message: "Permasalahan tidak boleh kosong"
            }
          }
        }
        
        let data = {
          number_of_men: this.formData.number_of_men,
          number_of_women: this.formData.number_of_women,
          number_of_foreigners: this.formData.number_of_foreigners,
          description: this.formData.description
        }

        let validation = validate(data, rules, { format: "flat" })

        if (typeof validation == 'undefined') {
          return true
        }
        
        this.handleError(validation)
        return false
      },

      submitReport() {
        if (this.id == null) {
          this.storeReport()
        } else {
          this.updateReport(this.id)
        }
      },

      storeReport() {
        let data = Object.assign({}, this.formData)
        data.date_of_endorsement = moment(data.date_of_endorsement).format("YYYY-MM-DD")

        axios.post('/api/report', data)
          .then((response) => {
            window.location = response.data.data.redirect
          })
          .catch((error) => {
            console.log(error)
          })
      },

      updateReport(id) {
        let data = Object.assign({}, this.formData)
        data.date_of_endorsement = moment(data.date_of_endorsement).format("YYYY-MM-DD")

        axios.patch('/api/report/' + this.id, data)
          .then((response) => {
            window.location = response.data.data.redirect
          })
          .catch((error) => {
            console.log(error)
          })
      }
    }
  }
</script>