body.login-page {
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.login-logo a {
    color: #fff;
}